.container,
.header,
.footer {
  padding: 10px;
}

.container {
  margin-top: 0;
  min-height: 150px;
  max-height: 900px;
  overflow: auto;
}

.header {
  height: 10px;
  border-bottom: 1px solid #EEE;
  background-color: #ffffff;
}

.footer {
  height: 40px;
  background-color: whiteSmoke;
  border-top: 1px solid #DDD;
}

.info {
  width: 30%;
  float: left;
  background: #bbb;
  height: 100%;
  padding:4px;

}

.sketch {
  width: 68%;
  float: right;
  background: #aaa;
  height: 100%;
}
