

body {

}

li {
  line-height: 1.5em;
}


.info {
  width: 30%;
  display: inline-block;
  margin: 0;
  border: 1px solid #CCC;
}

.sketch {
  width: auto;
  display: inline-block;
  margin: 0;
  border: 1px solid #CCC;
}

footer {
  border: 10px solid #CCC;
}
