body {
  background: whiteSmoke;

}
a {
  text-decoration: none;
  background-color: transparent;

}
.container,
.header,
.footer {
  padding: 10px;
}

.container {
  margin-top: 0;
  min-height: 150px;
  max-height: 900px;
  overflow: auto;
}

.header {
  height: 10px;
  border-bottom: 1px solid #EEE;
  background-color: whiteSmoke;
}

.footer {
  height: 40px;
  background-color: whiteSmoke;
  border-top: 1px solid #DDD;
  text-align: center;
}

.info {
  width: 30%;
  float: left;
  background: whiteSmoke;
  height: 100%;
  padding:4px;

}
.social-media-icon {
    padding: 10px ;
}

ul.navbar-nav {
  /* display: inline-block; */
  padding: 0;
  margin: 0;
}

li.nav-item {
  display: inline-block;
  padding-left: 10px;
}

li {
  height: 1.5em;
}
.sketch {
  width: 68%;
  float: right;
  background: whiteSmoke;
  height: 100%;
}
