
body {
/*  font-family: 'Ubuntu', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  background-color: pink;
  text-align: center;

}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}


/* Main_heading */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;

}

.main-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;

}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  background-color: #ff4c68 ;
  font-family: 'Ubuntu' ;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  /* padding: 0 18px; */
}

.nav-link {
  font-family: 'Montserrat' ;
  font-weight: 400;

}

.download-button {
  margin: 40px 10px 0 0;
}

.title_image {
  position:relative;
  z-index: 0;
  right: 30%;
}

.rotate-1-scaled-3 {
    transform: scale(1.0) rotate(30deg) translateY(180px) ;
}



/* Base 12 rotate-1 = 30deg rotate-12 = 360deg*/
/* scaled-3 = [1 - (3/12)] = 0.75 */
/* scaleu-3 = 1.25 */

.rotate-1-scaled-0 {
  transform: rotate(30deg) ;
}



.padding-container{

  /* Equiv to 3% (top) 15% (right) 3% (botom) 15% (left)*/
  /* padding: 3% 15% ; */
  padding: 3% 7%;

}


#features {
  /* padding: 2% 15%; */
  background-color: #ffff;
  position:relative;
}

.feature-box {
  /* border: 1px solid;
  border-color: red; */
   /* text-align: center; */

   font-family: 'Ubuntu';
   font-style: italic;
   font-weight: 10;
   color: gray;

}


.feature-icon {
    color:pink ;
    margin-bottom: 1rem;
    margin-top: 1rem;

 }

 .feature-icon:hover {
     color:orange ;
  }


  .feature-heading {

    font-style: normal;
    font-weight: 900;

    /* font-size: 1rem; */
    line-height: 1.25;
    color: black;

  }


.bouton-image:before {
    content: "xx";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}

.monBouton:before{
     background-image : url(http://icons.iconarchive.com/icons/fatcow/farm-fresh/16/accept-icon.png);
}


.appleButtonImage:before{
    /* background-image : url(images/apple-button-icon-16.png); */
     background-image : url(http://icons.iconarchive.com/icons/fatcow/farm-fresh/16/accept-icon.png);

}

.androidButtonImage:before{
     background-image : url(http://icons.iconarchive.com/icons/fatcow/farm-fresh/16/accept-icon.png);
}


/* Package Prices and Options*/
.subscription-card {
  height:28rem;
}
.padding-price {
  padding-top:20px;
}

.package-heading {
  font-size: 2.5rem;
  font-weight: 900;
  color: #0;

}

.card-title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
}

.card-footer {
  display: none;
}


/* Testimonials */
#testimonials {
  /* text-align: center; */
  background-color: #ef8172;
  color: #fff;

}

.testimonial-text {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px ;

}

.carousel-item {
  height: 500px ;

}

.testimonial-1 {
  /* background-color: #ef8172; */
}

.testimonial-2 {
  /* background-color: #ef8172; */
}

.testimonial-3 {
  /* background-color: #ef8172; */
}

.carousel-control-next {
  padding-left: 120px;
}

.carousel-control-prev {
  padding-right: 120px;

}



#press {
  background-color: #ef8172;
  color: #fff;

}

.press-image {
   width: 15%;
   margin: 20px 20px 50px;

}

/* Pricing section */

.section-heading {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

#pricing {
}

#pricing .row {
}

/* Call to Action */

.cta {
  background-color: #ff4c68;
}



/* Footer  */
#footer {
  /* text-align: center; */
  margin: 20px;
}
#footer p {
  color:grey ;
}
.social-media-icon {
    padding: 10px ;
}


@media (max-width: 1028px) {
	#title {
		text-align: center;
	}
	.title-image {
		position:static;
	}
  .rotate-1-scaled-3 {
    transform: scale(1.0) rotate(0deg) translateY(0px) ;

  }
  .testimonial-text {
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.5;
  }

  .carousel-control-next {
    padding-left: 20px;
  }

  .carousel-control-prev {
    padding-right: 20px;

  }


}
